.container {
  width: 1120px;
  padding: 64px 0 0 0;
}

.flex {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem;
}

.title h1 {
  white-space: nowrap;
  color: var(--gray-300);
}

.title span {
  color: var(--gray-300);
  font-size: 1.25rem;
}

.attractions {
  margin-top: 2rem;
  z-index: 1;
}

.attraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--gray-600);
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.attraction img {
  max-width: 600px;
  width: 100%;
  border-radius: 6px;
}

.attraction div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  text-align: center;
}

.info strong {
  font-size: 1.25rem;
  color: var(--gray-100);
}

.info p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.info span {
  color: var(--gray-300);
}

.info span b {
  color: var(--purple-300);
}

@media (max-width: 850px) {
  .title { 
    gap: 2rem;
    text-align: center;
    flex-direction: column; 
  }
}

@media (max-width: 600px) {
  .container > img { display: none; }

  .competition { 
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .info { 
    text-align: center;
  }

  .subscribe { 
    align-items: center;
  }
}
