.container {
  width: 1120px;
  padding: 64px 0 0 0;
}

.container > img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
  pointer-events: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem;
}

.title h1 {
  white-space: nowrap;
  color: var(--gray-300);
}

.title span {
  color: var(--gray-300);
  font-size: 1.25rem;
}

.subscribe {
  display: flex;
  justify-content: center;
}

.subscribe button {
  padding: 12px 16px;
  font-weight: bold;
  color: var(--gray-100);
  background: var(--blue-300);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 0;
}

.subscribe button:hover {
  background: var(--blue-400);
}

.competitions {
  margin-top: 4rem;
}

.competition {
  display: flex;
  gap: 1rem;
  background: var(--gray-600);
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.competition img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  border-radius: 6px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.info strong {
  font-size: 1.25rem;
  color: var(--gray-100);
}

.info p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.info span {
  color: var(--gray-300);
}

.info span b {
  color: var(--purple-300);
}

.info button {
  padding: 8px 12px;
  font-weight: bold;
  color: var(--gray-100);
  background: var(--purple-500);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 0;
}

@media (max-width: 850px) {
  .title { 
    gap: 2rem;
    text-align: center;
    flex-direction: column; 
  }
}

@media (max-width: 600px) {
  .container > img { display: none; }

  .competition { 
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .info { 
    text-align: center;
    align-items: center;
  }
}
