.container {
  display: none;
  width: 1120px;
  padding: 1.075rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-700);
}

.menu a {
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

.active {
  color: var(--gray-100);
}

.inactive {
  color: var(--gray-500);
}

.menu a:hover {
  color: var(--gray-100);
}

.aside {
  width: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.aside a {
  position: relative;
}

.aside a p {
  position: absolute;
  top: -17.5px;
  right: -22.5px;
}

.aside a {
  white-space: nowrap;
  text-decoration: none;
  color: var(--gray-500);
  transition: color 0.3s;
  cursor: pointer;
}

.aside a:hover {
  color: var(--gray-100);
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 0;
  border-radius: 6px;
  padding: 0.75rem;
  margin-left: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--gray-100);
  background: var(--gray-700);
  transition: background-color 0.2s;
}

.logout:hover {
  background: var(--gray-600);
}

@media (max-width: 900px) {
  .container { 
    display: block; 
    height: auto;
  }
}