.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 32px 0;
}

.container span {
  color: var(--gray-400);
}

.welcome {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: var(--gray-100);
}

.subtitle {
  margin: 0 0 0 48px;
}

.subtitle p {
  color: var(--gray-300);
  line-height: 1.5;
}

.subtitle p:first-child {
  margin-bottom: 12px;
}

@media (max-width: 680px) {
  .container, .welcome {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .subtitle {
    margin: 0;
  }

  .container span {
    margin: 32px 0 0;
  }
}
