.wrapper {
  position: relative;
  min-height: 100vh;
  background: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  min-height: calc(100vh - 64px - 76px);
  display: flex;
  justify-content: center;
}

.containerNoResponsive {
  min-height: calc(100vh - 64px - 76px);
  display: flex;
  justify-content: center;
}

.panel a {
  position: fixed;
  bottom: 8px;
  right: 8px;
  border-radius: 8px;
  padding: 0.25rem;
  background: var(--green-500);
  cursor: pointer;
}

.up {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  padding: 12px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  color: var(--gray-100);
  cursor: pointer;
  background: var(--gray-600);
  transition: background-color 0.2s;
}

.up:hover {
  background: var(--gray-800);
}


@media (max-width: 1150px) {
  .container { padding: 0 20px 0; }
}
